* {
  margin: 0;
  padding: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  text-decoration: none;
}

$couleurprimary: #901C1C;
$couleursecondary: #D3573C;
$couleurtertiary: #6b6b6b;
$couleurquatre: #db8876;
$paddingpresentationtexte: 5px;

@font-face {
  font-family: 'policegeneral';
  src: url(Polices/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'policegeneralbold';
  src: url(Polices/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: 'policegeneralmedium';
  src: url(Polices/Gilroy-Medium.ttf);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 75px;
  font-family: policegeneral;
}

header .lienlogo {
  width: 220px;
}

header .imglogo {
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  .tag {
    cursor: pointer;
    background-color: white;
  }
  .tag:hover {
      background-color: $couleurprimary;
      color: white;
  }
}

header h1 {
  color: $couleurprimary;
}

.tag {
  border-style: solid;
  padding: 2px 8px;
  border-radius: 20px;
  margin: 0px 4px;
  border-width: 1px;
  color: #901C1C;
  border-color: #bbbaba;
  font-weight: bold;
  cursor: context-menu;
  font-family: policegeneralbold;
}

.blocphotographe {
  padding: 10px;
  width: calc(100% / 3 - 20px);
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
  .nom {
      padding: $paddingpresentationtexte;
      color: $couleursecondary;
      font-size: xx-large;
      font-family: policegeneralmedium;
  }
  .location {
      padding: $paddingpresentationtexte;
      color: $couleurprimary;
      font-size: large;
      font-family: policegeneralmedium;
  }
  .phrase {
      padding: $paddingpresentationtexte;
      font-family: policegeneral;
      color: black;
  }
  .tarif {
      padding: $paddingpresentationtexte;
      color: $couleurtertiary;
      font-family: policegeneralmedium;
  }
  .divimg {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 15px; 
  }
  nav {
    padding-top: 10px;
    display: flex;
  }
}



.imageportrait {
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#ancreretour {
  position: fixed;
  top: 8px;
  background-color: $couleurquatre;
  color: black;
  font-family: policegeneralbold;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto 42%;
  padding: 6px;
  border-radius: 5px;
  display: none;
}

@media (max-width: 1375px){
  header .lienlogo {
    width: 170px;
  }
  header {
    padding: 25px 35px;
  }
}

@media (max-width: 1300px) {
  header .lienlogo {
    width: 210px;
  }
  header nav {
    padding-top: 70px;
  }
  header {
    padding: 25px 75px;
    flex-direction: column;
  }
  header h1 {
    position: absolute;
    right: 5%;
    top: 32px;
  }
}

@media (max-width: 1080px) {
  .blocphotographe {
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 980px) {
  header {
    padding: 25px 0px;
    align-items: unset;
    .lienlogo {
      padding-left: 65px;
    }
  }
  .blocphotographe {
    padding: 75px 0px;
    width: calc(100% / 2);
  }
  .listetags {
    align-self: center;
  }
  #ancreretour {
    margin: auto 39%;
  }
}

@media (max-width: 780px) {
  .blocphotographe {
    padding: 75px 0px;
    width: 100%;
  }
  .listetags {
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
  }
  .tag {
    margin: 4px;
  }
  #ancreretour {
    margin: auto 37%;
  }

}
@media (max-width: 650px) {
  header .lienlogo {
    width: 180px;
    padding-left: 40px;
  }
  header h1 {
    font-size: x-large;
  }
  #ancreretour {
    margin: auto 33%;
  }
}

@media (max-width: 500px) {
  header .lienlogo {
    width: 150px;
  }
  header h1 {
    font-size: large;
    top: 33px;
  }
}

@media (max-width: 450px) {
  #ancreretour {
    margin: auto 30%;
  }
  header .lienlogo {
    width: 130px;
  }
  header h1 {
    top: 30px;
  }
}
@media (max-width: 380px) {
  header h1 {
    left: 0px;
    right: 0px;
    text-align: center;
    top: 11%;
  }
  header {
    align-items: center;
  }
  header .lienlogo {
    padding-left: 0px;
  }
  #ancreretour {
    margin: auto 25%;
  }
  .blocphotographe .divimg {
    width: 190px;
    height: 190px;
  }
  .blocphotographe nav {
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
  }
  .tagf {
    font-size: smaller;
  }
}
@media (max-width: 330px) {
  .blocphotographe .nom {
    font-size: x-large;
  }
  .blocphotographe .phrase {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
  }
}