* {
  margin: 0;
  padding: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  text-decoration: none;
}

@font-face {
  font-family: "policegeneral";
  src: url(Polices/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "policegeneralbold";
  src: url(Polices/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "policegeneralmedium";
  src: url(Polices/Gilroy-Medium.ttf);
}
body {
  padding: 35px 70px;
}

header {
  display: flex;
  padding-bottom: 30px;
}
header .imglogo {
  width: 220px;
}

#presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerphotographe {
  background-color: #FAFAFA;
  padding: 70px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerphotographe .tagbypers {
  position: relative;
  left: -4px;
}
.headerphotographe .nom {
  color: #D3573C;
  font-size: xxx-large;
  padding-bottom: 20px;
  font-family: policegeneral;
}
.headerphotographe .location {
  color: #901C1C;
  font-size: large;
  padding-bottom: 20px;
  font-family: policegeneralbold;
}
.headerphotographe .phrase {
  padding-bottom: 20px;
  font-family: policegeneral;
}
.headerphotographe .divimg {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 15px;
}
.headerphotographe nav {
  display: flex;
}
.headerphotographe nav .tags {
  border-style: solid;
  padding: 2px 8px;
  border-radius: 20px;
  margin: 0px 4px;
  border-width: 1px;
  color: #901C1C;
  border-color: #bbbaba;
  font-weight: bold;
  cursor: context-menu;
  font-family: policegeneral;
}

.imageportrait {
  width: 100%;
}

.openmodalcontact {
  text-decoration: none;
  font-family: policegeneralbold;
  padding: 20px 10px;
  margin-left: 50px;
  background-color: #901C1C;
  border-style: none;
  border-radius: 7px;
  color: white;
  font-size: medium;
  height: max-content;
}

.articlephotographe {
  display: flex;
  flex-direction: row;
}

#modalbg {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
}

.modalclose::after, .modalclose::before {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: white;
}

.modalclose::after {
  transform: rotate(45deg);
}

.modalclose::before {
  transform: rotate(-45deg);
}

.modaltitre {
  font-family: policegeneral;
  font-size: 35px;
}

#modalcontact {
  box-shadow: -3px -2px 20px 12px grey;
  width: 100%;
  max-width: 600px;
  position: relative;
  background-color: #db8876;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  border-radius: 5px;
}

.modalmenu {
  padding-bottom: 10px;
}

.modalclose {
  position: absolute;
  right: 23px;
  top: 23px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
}

.modalnom {
  font-family: policegeneralmedium;
  font-size: 35px;
}

.formData {
  padding-bottom: 16px;
}
.formData label {
  font-family: policegeneral;
  font-size: x-large;
  display: block;
  padding-bottom: 3px;
}
.formData input {
  display: block;
  width: 100%;
  font-size: x-large;
  border: none;
  padding: 8px;
  border-radius: 5px;
}
.formData textarea {
  display: block;
  width: 100%;
  font-size: x-large;
  resize: none;
  border: none;
  padding: 8px;
  border-radius: 5px;
}

textarea:focus, input:focus {
  outline: none;
}

#contenermodaltexte {
  padding-bottom: 40px;
}

#btn-submit {
  margin-top: 30px;
  width: 150px;
  height: 60px;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: policegeneralmedium;
  font-size: larger;
}

#btn-submit:hover, .btn-submit:focus {
  outline: none;
  background-color: #901C1C;
}

/*# sourceMappingURL=page-photographe.css.map */
