* {
    margin: 0;
    padding: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    text-decoration: none;
  }
  
$couleurprimary: #901C1C;
$couleursecondary: #D3573C;
$couleurtertiary: #6b6b6b;
$couleurquatre: #db8876;
$paddingheader: 70px;
$paddingpresentationtexte: 20px;

@font-face {
    font-family: 'policegeneral';
    src: url(Polices/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'policegeneralbold';
    src: url(Polices/Gilroy-SemiBold.ttf);
}
@font-face {
    font-family: 'policegeneralmedium';
    src: url(Polices/Gilroy-Medium.ttf);
}

body {
    padding: 35px 70px;
}

header {
    display: flex;
    padding-bottom: 30px;
    .imglogo {
        width: 220px;
      }
}

#presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headerphotographe {
    background-color: #FAFAFA;
    padding: $paddingheader;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .tagbypers {
        position: relative;
        left: -4px;
    }
    .nom {
        color: $couleursecondary;
        font-size: xxx-large;
        padding-bottom: $paddingpresentationtexte;
        font-family: policegeneral;
    }
    .location {
        color: $couleurprimary;
        font-size: large;
        padding-bottom: $paddingpresentationtexte;
        font-family: policegeneralbold;
    }
    .phrase {
        padding-bottom: $paddingpresentationtexte;
        font-family: policegeneral;
    }
    .divimg {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 15px; 
    }
    nav {
      display: flex;
      .tags {
        border-style: solid;
        padding: 2px 8px;
        border-radius: 20px;
        margin: 0px 4px;
        border-width: 1px;
        color: #901C1C;
        border-color: #bbbaba;
        font-weight: bold;
        cursor: context-menu;
        font-family: policegeneral;
      }
    }
  }
  .imageportrait {
    width: 100%;
  }

  .openmodalcontact {
      text-decoration: none;
      font-family: policegeneralbold;
      padding: 20px 10px;
      margin-left: 50px;
      background-color: $couleurprimary;
      border-style: none;
      border-radius: 7px;
      color: white;
      font-size: medium;
      height: max-content;
      cursor: pointer;
  }

  .articlephotographe {
      display: flex;
      flex-direction: row;
  }

  #modalbg {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    
  }
  .modalclose::after, .modalclose::before {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: white;
  }
.modalclose::after {
    transform: rotate(45deg);
}
.modalclose::before {
    transform: rotate(-45deg)
}

.modaltitre {
    font-family: policegeneral;
    font-size: 35px;
}
#modalcontact {
    box-shadow: -3px -2px 20px 12px grey;
    width: 100%;
    max-width: 600px;
    position: relative;
    background-color: $couleurquatre;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    border-radius: 5px;
}
.modalmenu {
    padding-bottom: 10px;
}
.modalclose {
    position: absolute;
    right: 23px;
    top: 23px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
}
.modalnom {
    font-family: policegeneralmedium;
    font-size: 35px;
}
.formData {
    padding-bottom: 16px;
    label {
        font-family: policegeneral;
        font-size: x-large;
        display: block;
        padding-bottom: 3px;
    }
    input {
        display: block;
        width: 100%;
        font-size: x-large;
        border: none;
        padding: 8px;
        border-radius: 5px;
    }
    textarea {
        display: block;
        width: 100%;
        font-size: x-large;
        resize: none;
        border: none;
        padding: 8px;
        border-radius: 5px;
    }
}
textarea:focus, input:focus {
    outline: none;
}

#contenermodaltexte {
    padding-bottom: 40px;
}

#btn-submit {
    margin-top: 30px;
    width: 150px;
    height: 60px;
    background-color: $couleurprimary;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: policegeneralmedium;
    font-size: larger;
}
#btn-submit:hover, .btn-submit:focus {
    outline: none;
    background-color: $couleurprimary;
}

.blocphoto {
    width: calc(100% / 3 - 80px);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .divimgblocphoto {
        width: 300px;
        height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        img {
            width: 100%;
            height: fit-content;
        }
    }
    .menuphoto {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 15px;
        font-family: policegeneralmedium;
        color: #901C1C;
        font-size: large;
        padding-left: 2px;
        padding-right: 2px;
        .divlikes {
            display: flex;
            flex-direction: row;
        }
        .nblikes {
            padding-right: 10px;
        }
        i {
            position: relative;
            top: 2.65px;
        }
    }
}
#listephotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
}

.banfoot {
    display: flex;
    flex-direction: row;
    background-color: $couleurquatre;
    justify-content: space-between;
    font-family: policegeneralbold;
    font-size: large;
    padding: 20px 30px;
    width: 25%;
    position: fixed;
    right: 40px;
    bottom: 0px;
    border-radius: 7px 7px 0px 0px;
    .banfootleft {
        display: flex;
        flex-direction: row;
    }
    .coeurjaimestotal {
        padding-left: 10px;
        position: relative;
        top: 3.50px;
        font-weight: 800;
    }
}
#modalimagebg {
    display: none;
    position: fixed;
    padding-left: 135px;
    padding-right: 135px;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;
    height: 100%;
    width: calc(100% - 270px);
    #previous {
        position: absolute;
        top: 50%;
        left: 0px;
        font-size: xxx-large;
        padding-left: 65px;
        color: $couleurprimary;
    }
    #next {
        position: absolute;
        top: 50%;
        right: 0px;
        font-size: xxx-large;
        padding-right: 65px;
        color: $couleurprimary;
    }
}
.modalimageclose::after, .modalimageclose::before {
    position: absolute;
    top: 70px;
    right: 70px;
    content: " ";
    height: 42px;
    width: 6px;
    background-color: $couleurprimary;
}

.modalimageclose::after {
    transform: rotate(45deg);
}
.modalimageclose::before {
    transform: rotate(-45deg);
}

.modalimageclose:hover {
    cursor: pointer; 
}
#divmodalimage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#textephotoactuel {
    font-family: policegeneral;
    font-size: x-large;
    padding-top: 15px;
    align-self: flex-start;
    height: 50px;
}
#videoactuelle {
    display: none;
}
#trie {
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    font-family: policegeneralbold;
    font-size: larger;
    position: relative;
}
#textetrie {
    padding-right: 40px;
    padding-left: 15px;
    position: relative;
    top: 15px;
}
#triechoix {
    display: none;
    flex-direction: column;
    background-color: $couleurprimary;
    border-radius: 5px;
    overflow: hidden;
    padding: 0px 15px;
    position: absolute;
    left: 130px;
    .choix {
        border: none;
        background-color: $couleurprimary;
        padding: 15px 10px;
        color: white;
        padding-right: 51.8px;
    }
    #chevronup {
        position: absolute;
        right: 25px;
        top: 16px;
        color: white;
    }
    .choixdroit {
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        
    }
    .choixinverse {
        border-top-color: white;
        border-top-style: solid;
        border-top-width: 2px;
        border-bottom: none;
    }
}
#choixactuel {
    background-color: $couleurprimary;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 130px;
    #trieactuel {
        padding-right: 25px;
    }
}

@media (max-width: 1225px) {
    body {
        padding: 35px 40px;
    }
}

@media (max-width: 1135px) {
    .blocphoto {
        width: calc(100% / 2 - 80px);
    }
    .headerphotographe {
        padding: 40px;
    }
}

@media (max-width: 1035px) {
    .headerphotographe .nom {
        font-size: xx-large;
    }
    .headerphotographe .divimg {
        margin-bottom: 0px;
        width: 200px;
        height: 200px;
    }
    .openmodalcontact {
        margin-left: 30px;
    }
}

@media (max-width: 875px) {
    .headerphotographe .divimg {
        width: 180px;
        height: 180px;
    }
    .openmodalcontact {
        font-size: small;
        font-family: policegeneralmedium;
        padding: 15px 8px;
        margin-left: 20px;
    }
    .headerphotographe .nom {
        padding-bottom: 15px;
    }
    .headerphotographe .location, .headerphotographe .phrase {
        padding-bottom: 15px;
    }
}

@media (max-width: 785px) {
    .headerphotographe {
        padding: 0px;
        background-color: white;
    }
    #trie {
        display: none;
    }
    .blocphoto {
        width: 100%;
        padding: 35px 0px;
        .divimgblocphoto {
            width: 400px;
            height: 250px;
        }
        .menuphoto {
            width: 400px;
        }
    }
    #listephotos {
        padding-top: 60px;
    }
    .banfoot {
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
        bottom: -40px;
        width: 50%;
        justify-content: space-around;
        padding: 15px 25px;
    }
}

@media (max-width: 740px) {
    .openmodalcontact {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 40px;
        display: flex;
        justify-content: center;
        width: 30%;
        margin: auto 35%;
        padding: 10px 0px;
        z-index: 1;
    }
}

@media (max-width: 580px) {
    .headerphotographe .divimg {
        width: 150px;
        height: 150px;
    }
    .headerphotographe .tagbypers {
        font-size: small;
    }
    body {
        padding: 25px;
    }
}

@media (max-width: 520px) {
    .headerphotographe .divimg {
        width: 125px;
        height: 125px;
    }
    .headerphotographe {
        .nom {
            font-size: x-large;
        }
        .location {
            font-size: medium;
        }
        .phrase {
            font-size: smaller;
        }
    }
    .blocphoto .divimgblocphoto {
        width: 100%;
        height: 240px;
    }
    .blocphoto .menuphoto {
        width: 100%;
    }
    header .imglogo {
        width: 170px;
    }
}

@media (max-width: 430px) {
    .blocphoto .divimgblocphoto {
        height: 210px;
    }
    .headerphotographe .divimg {
        width: 90px;
        height: 90px;
        position: absolute;
        right: 25px;
        top: 25px;
    }
    header .imglogo {
        position: relative;
        top: 16px;
    }
    .headerphotographe .tagbypers {
        justify-content: center;
    }
    .articlephotographe {
        width: 100%;
        text-align: center;
        padding-top: 45px;
    }
    .divarticle {
        width: 100%;
    }
    .banfoot {
        width: 75%;
        justify-content: space-between;
    }
    .openmodalcontact {
        width: 38%;
        margin: auto 31%;
    }
}

@media (max-width: 335px) {
    .headerphotographe .divimg {
        width: 80px;
        height: 80px;
    }
    header .imglogo {
        width: 145px;
        top: 20px;
    }
}